// vim: set nowrap:

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <behaviors.dtsi>

#define XXX &none
#define ___ &trans

#define COLEMAK 0
#define NAV 1
#define FUN 2
#define SYM 3
#define NUM 4


#define HYPER LG(LA(LS(LCTRL)))

#define COMBO(NAME, BINDINGS, KEYPOS) \
  combo_##NAME { \
    bindings = <BINDINGS>; \
    key-positions = <KEYPOS>; \
    timeout-ms = <80>; \
  };

&mt {
  flavor = "tap-preferred";
  tapping_term_ms = <200>;
};
/ { 

    combos {
/*                KEY POSITIONS

  ╭────────────────────╮ ╭────────────────────╮
  │  0   1   2   3   4 │ │  5   6   7   8   9 │
  │ 10  11  12  13  14 │ │ 15  16  17  18  19 │
  │ 20  21  22  23  24 │ │ 25  26  27  28  29 │
  ╰───────────╮ 30  31 │ │ 32  33 ╭───────────╯
              ╰────────╯ ╰────────╯            */
        compatible = "zmk,combos";
        COMBO(caps_word, &caps_word, 20 29)
        COMBO(esc, &kp ESC, 10 19)
        COMBO(minus, &kp MINUS, 3 6)
        COMBO(repeat, &key_repeat, 4 5)
        COMBO(under, &kp UNDER, 23 26)
        COMBO(ralt, &sk RALT, 30 33)
        COMBO(del, &kp DEL, 28 29)
    };

    keymap {
        compatible = "zmk,keymap";

    /* colemak_layer { */
    /*   label = "DH"; */
    /*   bindings = < */
    /*     // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ */
    /*          &kp Q         &kp W         &kp F         &kp P         &kp B             &kp J         &kp L         &kp U         &kp Y         &kp SCLN */
    /*     // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ */
    /*          &mt LGUI  A   &mt LALT R    &mt LSHIFT S  &mt LCTRL T   &mt HYPER G       &mt HYPER  M  &mt LCTRL N   &mt RSHIFT E  &mt LALT I    &mt LGUI O */
    /*     // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ */
    /*          &kp Z         &kp X         &kp C         &kp D         &kp V             &kp K         &kp H         &kp COMMA     &kp DOT       &kp FSLH */
    /*     // ╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯ */
    /*                                                    &lt NUM TAB   &lt NAV SPC       &lt SYM RET   &lt FUN BSPC */
    /*     //                                           ╰─────────────┴─────────────╯   ╰─────────────┴─────────────╯ */
    /*   >; */
    /* }; */

    base_layer {
      label = "QUERTY";
      bindings = <
        // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬────────────────┬─────────────┬────────────────╮
             &kp Q         &kp W         &kp E         &kp R         &kp T             &kp Y         &kp U         &kp I            &kp O         &kp P
        // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼────────────────┼─────────────┼────────────────┤
             &mt LGUI  A   &mt LALT  S   &mt LSHIFT D  &mt LCTRL F   &mt HYPER G       &mt HYPER H   &mt LCTRL J   &mt RSHIFT K     &mt LALT L    &mt LGUI SCLN
        // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼────────────────┼─────────────┼────────────────┤
             &kp Z         &kp X         &kp C         &kp V         &kp B             &kp N         &kp M         &kp COMMA        &kp DOT       &kp FSLH
        // ╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼────────────────┴─────────────┴────────────────╯
                                                       &lt NUM TAB   &lt NAV SPC       &lt SYM RET   &lt FUN BSPC
        //                                           ╰─────────────┴─────────────╯   ╰─────────────┴─────────────╯
      >;
    };
        nav_layer {
            bindings = <
        // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
              XXX           XXX          XXX           &bootloader   &reset            &kp GRAVE     &kp LBRC      &kp RBRC      &kp LPAR      &kp RPAR
        // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
              ___           ___          ___           ___           ___               &kp LEFT      &kp DOWN      &kp UP        &kp RIGHT     &kp SQT
        // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
              &bt BT_CLR   &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3      &kp KP_EQUAL  &kp LBKT      &kp RBKT      XXX           &kp BSLH
        // ╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
                                                       ___           ___               ___           ___
        //                                           ╰─────────────┴─────────────╯   ╰─────────────┴─────────────╯
                >;
        };

        fun_layer {
            bindings = <

        // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
             ___           ___           ___           ___           ___               ___           ___           ___           ___           ___
        // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
             ___           ___           ___           ___           ___               ___           ___           ___           ___           ___
        // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
             ___           ___           ___           ___           ___               ___           ___           ___           ___           ___
        // ╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
                                                       ___           ___               ___           ___
        //                                           ╰─────────────┴─────────────╯   ╰─────────────┴─────────────╯
                >;
       };

       sym_layer {
            bindings = <
        // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
             ___           ___           &kp STAR      &kp AMPS      ___               &reset        &bootloader   ___           ___           ___
        // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
             &kp DQT       &kp CARET     &kp PRCNT     &kp DLLR      &kp KP_PLUS       ___           ___           ___           ___           ___
        // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
             &kp TILDE     &kp HASH      &kp AT        &kp EXCL      &kp PIPE          ___           ___           ___           ___           ___
        // ╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
                                                       ___           ___               ___           ___
        //                                           ╰─────────────┴─────────────╯   ╰─────────────┴─────────────╯
                >;
        };

        num_layer {
            bindings = <
        // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
             ___           ___           ___           ___           ___                ___          &mt F7 N7     &mt F8 N8     &mt F9 N9     &kp F10
        // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
             ___           ___           ___           ___           ___                &kp DOT      &mt F4 N4     &mt F5 N5     &mt F6 N6     &kp F11
        // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
             ___           ___           ___           ___           ___                &kp COMMA    &mt F1 N1     &mt F2 N2     &mt F3 N3     &kp F12
        // ╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
                                                       ___           ___                ___          &kp N0
        //                                           ╰─────────────┴─────────────╯   ╰─────────────┴─────────────╯
                >;
        };
    };
};
